@page "/books"
@page "/books/{PageNumber:int}"
@using Formation.Application.Common.Model
@using Formation.Data.Common
@using Formation.Domain.Entities.Common
@using MediatR
@using Formation.Application.Books.Queries.GetAll
@using Formation.Application.Books.Commands.DeleteBook
@using Formation.Domain.Entities
@using Formation.Data
@using Formation.Components
@inject ISender Sender
@inject IMapper Mapper

<PageTitle>Index</PageTitle>

<h1 class="mt-5 mb-4">Livres enregistrés</h1>
<Table Items="@(books.Items)"/>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Id de l'autheur</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in books.Items)
        {
            <tr>
                <td>@b.Title</td>
                <td>@b.Description</td>
                <td>@b.Name</td>
                <td class="text-center"><i class="bi bi-trash" @onclick="@(()=>RemoveBook(b.Id))"/></td>
            </tr>    
        }
    </tbody>
</table>
<Pagination CurrentPage="currentPage" PaginatedList="@books" Link="books"/>
<h1 class="mt-5 mb-4">Enregistré un nouveau livre</h1>
<EditForm Model="book" OnValidSubmit="CreateNewBook">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="@nameof(book.Title)">@nameof(book.Title)</label>
        <InputText id="@nameof(book.Title)" @bind-Value="book.Title" class="form-control" />
        <ValidationMessage For="@(() => book.Title)" />
    </div>
    <div class="form-group">
        <label for="@nameof(book.AuthorId)">@nameof(book.AuthorId)</label>
        <InputSelect @bind-Value="book.AuthorId" class="form-control">
            @foreach (var author in authors)
            {
               <option value="@author.Id">@(author.FirstName+" "+author.LastName)</option> 
            }
        </InputSelect>
        <ValidationMessage For="@(() => book.AuthorId)" />
    </div>
    <div class="form-group">
        <label for="@nameof(book.Description)">@nameof(book.Description)</label>
        <InputTextArea id="@nameof(book.Description)" @bind-Value="book.Description" class="form-control" />
        <ValidationMessage For="@(() => book.Description)" />
    </div>    
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>

